<h1>Your tasks</h1>

<% @tasks.each do |task| %>

<div class=card>
<input type="checkbox">

<h2><%= link_to task.title, task_path(task) %></h2>
</div>

<% end %>

<%= link_to "Add a task", new_path%>
